# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
dist/
build/
.out/
.next/
.vercel/
.cache/

# Python
.venv/
__pycache__/
*.pyc

# Env
.env
.env.*
!.env.example

# Misc
.DS_Store
*.local
